.tableMain {
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #28a745b8;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
}

.tableModal {
    width: 100%;
    align-content: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #17a2b89c;
    color: #656665;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
}

th {
    font-size: 18px;
    padding: 10px;
}

td {
    background: #F5D7BF;
    padding: 10px;
}