<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="'Квартира # ' + ${name}"></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body style="background-color:rgba(240, 200, 140, 0.4);">
		<h1 class="container"> Квартира номер <span th:text="${name}"></span></h1>
		<div class="container pt-4">
		
			<form action="/save" method="post">
				<table>
					<tr>
						<th>           </th>
						<th>Свет       </th>
						<th>Температура</th>
					</tr>
					
					
						<tr>
							<td>Прихожая       </td>
							<td>	
								<label id="light1" th:text="${values[0]}"></label> % <br>
								<input type="range" name="values" th:value="${values[0]}" min="0" max="100" step="1" 
		            				oninput="document.getElementById('light1').innerHTML = this.value" />
							</td>
							<td>
								<label id="temper1" th:text="${values[1]}"></label> °C<br>
								<input type="range" name="values" th:value="${values[1]}" min="20" max="50" step="1" 
		            				oninput="document.getElementById('temper1').innerHTML = this.value" />
							</td>
						</tr>
				
						<tr>
							<td>Кухня          </td>
							<td>	
								<label id="light2" th:text="${values[2]}"></label> %<br>
								<input type="range" name="values" th:value="${values[2]}" min="0" max="100" step="1" 
		            				oninput="document.getElementById('light2').innerHTML = this.value" />
							</td>
							<td>
								<label id="temper2" th:text="${values[3]}"></label> °C<br>
								<input type="range" name="values" th:value="${values[3]}" min="20" max="50" step="1" 
		            				oninput="document.getElementById('temper2').innerHTML = this.value" />
							</td>
						</tr>
							
						<tr>
							<td>Ванная         </td>
							<td>	
								<label id="light3" th:text="${values[4]}"></label> %<br>
								<input type="range" name="values" th:value="${values[4]}" min="0" max="100" step="1" 
		            				oninput="document.getElementById('light3').innerHTML = this.value" />
							</td>
							<td>
								<label id="temper3" th:text="${values[5]}"></label> °C<br>
								<input type="range" name="values" th:value="${values[5]}" min="20" max="50" step="1" 
		            				oninput="document.getElementById('temper3').innerHTML = this.value" />
							</td>
						</tr>
							
						<tr>
							<td>Комната        </td>
							<td>	
								<label id="light4" th:text="${values[6]}"></label> %<br>
								<input type="range" name="values" th:value="${values[6]}" min="0" max="100" step="1" 
		            				oninput="document.getElementById('light4').innerHTML = this.value" />
							</td>
							<td>
								<label id="temper4" th:text="${values[7]}"></label> °C<br>
								<input type="range" name="values" th:value="${values[7]}" min="20" max="50" step="1" 
		            				oninput="document.getElementById('temper4').innerHTML = this.value" />
							</td>
						</tr>
							
						<tr>
							<td>Балкон         </td>
							<td>	
								<label id="light5" th:text="${values[8]}"></label> %<br>
								<input type="range" name="values" th:value="${values[8]}" min="0" max="100" step="1" 
		            				oninput="document.getElementById('light5').innerHTML = this.value" />
							</td>
						</tr>
				</table>
        		<input type="submit" class="btn btn-md btn-success" value="Сохранить"/>
			</form>
			<br>
			<input type="button" class="btn btn-md btn-primary" onclick="location.href='/'" value="Вернуться" >
			
		</div>
		
		<script>
			function slider(v) {
				var ret = document.getElementById(v).innerHTML;
			}
		</script>
		
	</body>
</html>