<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
	</head>
	<body align="center" style="background-color: #f5fffa;">
		<h1 style="font-family: Arial;">Ошибка 404. Страница не найдена</h1>
		<div style="color: rgb(2,63,7)">⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
			<br>		⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣤⣤⣤⣤⣤⣤⠀⠀⠀⠀⠀⠀⠀⠀⠀
			<br>		⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣯⣽⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀
			<br>		⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⠿⠿⠿⠿⠀⠀⠀⠀⠀⠀⠀⠀
			<br>		⠀⠀⠀⠀⠀⠀⣀⠀⠀⠀⠀⠀⠀⣀⣿⣿⣿⠿⠶⠶⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀
			<br>		⠀⠀⠀⠀⠀⠀⣿⣤⠀⠀⠀⣤⣿⣿⣿⣿⣿⣤⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
			<br>		⠀⠀⠀⠀⠀⠀⣿⣿⣧⣤⣿⣿⣿⣿⣿⣿⣿⠀⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
			<br>		⠀⠀⠀⠀⠀⠀⠉⢿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀
			<br>		⠀⠀⠀⠀⠀⠀⠀⠀⠘⢻⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀
			<br>	   ⠀⠀⠈⠉⢉⣉⡉⠉⠁⠀⣿⠟⠁⠛⣿⠀⠈⠉⠉⠉⠉⠉⠉⠉⠭⠉⠉⠁   
			<br>       ⠀⠀  ⠶⠀⠀⠀⠠⠆⠀⠿⠆⠀⠀⠿⠆⠀⠀⠀⠀⠀⠤⠄⠀⠀⠀⠀⠀⠀ 	
			<br>
			<br>
		</div>
		<input type="button" 
			style="background-color: #008CBA; border: none; padding: 15px 32px; font-size: 16px;
			color: white; font-family: Arial;"
			value="Вернуться на начальную страницу" onclick="location.href='/main'">
	</body>
</html>